{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="body container-user">
    <div role="main" class="main row">
        <div class="pull-left col-md-9">
            <div class="news-main">
                <div class="yangilik-block">
                    <h1>{% blocktrans %}Rahbariyat{% endblocktrans %}</h1>
                </div>
                {% for rahbar in rahbariyat %}
                <div class="grid_item news_item">
                    <div class="news">
                        <div class="news__image">
                            <a href="{% url 'rahbariyat_detail' pk=rahbar.id %}">
                                <img src="{{ rahbar.image.url }}" alt="{{ rahbar.ism }}" />
                            </a>
                        </div>
                        <div class="news__title">{{ rahbar.ism }}</div>
                        <div class="news__text"><b>{{ rahbar.lavozim }}</b></div>
                        <div class="news__date"><i class="fa fa-phone"></i> {{ rahbar.telefon }}</div>
                        <div class="news__date"><i class="fa fa-envelope"></i> <a href="mailto:{{ rahbar.email }}">{{ rahbar.email }}</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="pull-left block-sidebar col-md-3">
            <div class="data-banner">
                <a href="https://navoiyedu.uz/xizmatlar/hujjatlar-shakli/41-meyoriy-hujjatlar.html">
                    <i class="fa fa-files-o" aria-hidden="true"></i>
                    <span>{% blocktrans %}Me'yoriy hujjatlar{% endblocktrans %}</span>
                </a>
                <a href="https://navoiyedu.uz/boglanish/39-ish-grafigi.html">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>{% blocktrans %}Ish grafigi{% endblocktrans %}</span>
                </a>
                <a href="https://my.gov.uz/" class="mygov">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                    <span>{% blocktrans %}Shikoyatlar mavjudmi? <br />Onlayn tarzda yuboring{% endblocktrans %}</span>
                </a>
            </div>
            <img src="https://raqamli.uz/templates/Raqamli/images/yil_dasturi.jpg" />
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock content %}