{% load static %}

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" class="boxed csstransforms3d uz">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <title>Navoiy viloyat Oliy ta’lim, fan va innovatsiyalar boshqarmasi</title>
    <meta name="description" content="Navoiy viloyat Oliy ta’lim, fan va innovatsiyalar boshqarmasi">
    <meta name="keywords" content="Navoiy viloyat Oliy ta’lim, fan va innovatsiyalar boshqarmasi">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="robots" content="index, follow"/>

    <!-- CSS Files -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'css/engine.css' %}"/>
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/slider-pro.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/flatpickr.css' %}"/>
<link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}"/>
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"/>
<link rel="stylesheet" href="{% static 'css/theme6a79.css@ver=0.6.css' %}"/>
<link rel="stylesheet" href="{% static 'css/theme-elements.css' %}"/>
<link rel="stylesheet" href="{% static 'css/theme-animate.css' %}"/>
<link rel="stylesheet" href="{% static 'css/defaultb3e8.css@ver=0.1.css' %}"/>
<link rel="stylesheet" href="{% static 'css/styleac28.css@ver=0.8.css' %}"/>
<link rel="stylesheet" href="{% static 'css/style-secondb3e8.css@ver=0.1.css' %}"/>
<link rel="stylesheet" href="{% static 'css/special.css' %}"/>
<link rel="stylesheet" href="{% static 'css/stacktable.css' %}"/>
<link rel="stylesheet" href="{% static 'css/animate.css' %}"/>
<link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
<link rel="stylesheet" href="{% static 'css/gspeech.css' %}"/>
<link rel="stylesheet" href="{% static 'css/the-tooltip.css' %}"/>

<!-- JS Files -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.fdate.js' %}"></script>
<script src="{% static 'js/audio.min.js' %}"></script>
<script src="{% static 'js/printThis.js' %}"></script>
<script src="{% static 'js/color.js' %}"></script>
<script src="{% static 'js/jQueryRotate.2.1.js' %}"></script>
<script src="{% static 'js/easing.js' %}"></script>
<script src="{% static 'js/mediaelement-and-player.min.js' %}"></script>
<script src="{% static 'js/gspeech.js' %}"></script>
<script src="{% static 'js/gspeech_pro.js' %}"></script>
<script src="{% static 'js/modernizr.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/stacktable.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>


</head>
<body>
<div class="special-top">
    <div class="container-user">
        <div class="row">
            <div class="col-md-12">
                <div class="special-settings">
                    <div class="special-settings-wrapper clearfix">
                        <div class="a-fontsize">
                            Shrift o'lchami:
                            <a class="a-fontsize-small" data-set="fs-small" href="/#"
                               title="Уменьшенный размер шрифта">A</a>
                            <a class="a-fontsize-normal smallFont" href="/#" data-set="fs-normal"
                               title="Нормальный размер шрифта">A</a>
                            <a class="bigFont" href="/#" data-set="fs-bigFont"
                               title="Увеличенный размер шрифта">A</a>
                        </div>
                        <div class="a-colors">
                            Sayt rangi:
                            <a class="a-color1" data-set="color1" href="/#" title="Черным по белому">A</a>
                            <a class="a-color2" data-set="color2" href="/#" title="Желтым по черному">A</a>
                            <a class="a-color3" data-set="color3" href="/#"
                               title="Зеленым по темно-коричневому">A</a>
                            <a class="a-color4" data-set="color4" href="/#"
                               title="Коричневым по бежевому">A</a>
                        </div>
                        <div class="norm-version">
                            <a href="/#" id="normalversion" class="resetFont" data-set="normalversion"
                               title="Сайтнинг тўлиқ талқини">Saytning to'liq talqini</a>
                        </div>
                    </div>
                    <!-- .special-settings-wrapper -->
                    <div class="clr"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-top">
    <div class="container-user">
        <div class="row">
            <div class="col-md-12">
                <div class="special-menu">
                    <ul>
                        <li>
                            <a href="/">
                                <div class="icon-bg"><i class="fa fa-home" aria-hidden="true"></i></div>
                                <span>Bosh sahifa</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="icon-bg"><i class="fa fa-sitemap" aria-hidden="true"></i></div>
                                <span>Sayt xaritasi</span>
                            </a>
                        </li>
                        <li>
                            <a href="/#" class="btn-adaptive">
                                <div class="icon-bg"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                                <span>Mobil versiya</span>
                            </a>
                        </li>
                        <li>
                            <a href="/#" id="specialversion">
                                <div class="icon-bg"><i class="fa fa-eye" aria-hidden="true"></i></div>
                                <span>Zaif ko'ruvchilar uchun</span>
                            </a>
                        </li>


                        <li>
                            <a href="/admin">
                                <div class="icon-bg"><i class="fa fa-sign-in" aria-hidden="true"></i></div>
                                <span>Tizimga kirish</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="search">
                    <form method="post">
                        <input type="text" name="story" placeholder="Saytdan izlash..">
                        <input type="hidden" name="do" value="search">
                        <input type="hidden" name="subaction" value="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<header id="header">
    <div class="header-body">
        <div class="header-container container-user">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo js-uni-animated-first">
                        <div class="header-logo">
                            <a href="/">
                                <img style="filter: drop-shadow(2px 4px 6px #3b5998);width: 130px; background: #fff;border-radius: 10px;float: left;"
                                     src="/static/uploads/logo.png" alt=""/>
                            </a>
                        </div>
                        <div class="header-logo-title">
                            <a href="/">
                                <h3></h3>
                                <h4><span>Navoiy viloyat Oliy ta’lim</span></h4>
                                <h4><span>fan va innovatsiyalar</span></h4>
                                <h4><span>boshqarmasi</span></h4>
                                <h5>
                                    <p><span>rasmiy veb-sayti</span></p>
                                </h5>
                            </a>
                        </div>
                    </div>
                    <div class="top-block">
                        <div class="phone">
                            <div class="phone">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <a href="/#" style="padding-left: 0;">+998 (62) <span>228-48-74</span></a>
                            </div>
                            <div class="email">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <a href="mailto:o.otamurodov@mininnovation.uz">o.otamurodov@mininnovation.uz</a>
                            </div>
                            <div class="link">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <a href="/"></a>
                            </div>
                        </div>
                        <div class="flag">
                            <a href="https://constitution.uz/oz/pages/symbols" target="_blank"> <img
                                    src="/static/images/flag1.png" alt=""/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-nav">
            <div class="mobile-title-menu">Меню</div>
            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main"><i
                    class="fa fa-bars"></i></button>
            <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                <nav>
                    <ul class="nav nav-pills" id="mainNav">
                        <li class="dropdown"><a href="/boshqarma-haqida/"><span>Boshqarma haqida</span> </a>
                            <ul class="dropdown-menu">
                                <li><a href=""><span>Boshqarma tarixi</span> </a>

                                </li>
                                <li><a href=""><span>Tarkibiy tuzilma</span> </a>

                                </li>
                                <li><a href=""><span>Funktsiya va vazifalar</span> </a>

                                </li>
                                <li><a href="/boshqarma-haqida/erishilgan-yutuqlar"><span>Erishilgan yutuqlar</span> </a>

                                </li>
                                <li><a href=""><span>Qabul jadvali</span> </a>

                                </li>
                                <li><a href=""><span>Bo&#039;sh ish o&#039;rinlari</span> </a>

                                </li>
                            </ul>
                        </li>
                        <li class="dropdown"><a
                                href="https://edunavoiy.uz/normativ-hujjatlar/"><span>Normativ hujjatlar</span> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="https://edunavoiy.uz/normativ-hujjatlar/ozbekiston-respuplikasi-qonunlari/"><span>O`zbekiston Respuplikasi Qonunlari</span>
                                    </a>

                                </li>
                                <li>
                                    <a href="https://edunavoiy.uz/normativ-hujjatlar/prezident-qaror-va-farmonlari/"><span>Prezident qaror va farmonlari</span>
                                    </a>

                                </li>
                                <li><a href="https://edunavoiy.uz/normativ-hujjatlar/oliy-talim/"><span>Oliy ta’lim, fan va innovatsiyalar vazirligi</span>
                                </a>

                                </li>
                                <li>
                                    <a href="https://edunavoiy.uz/normativ-hujjatlar/navoiy-viloyati-boshqarmasi-qarorlari/"><span>Navoiy viloyati boshqarmasi qarorlari</span>
                                    </a>

                                </li>
                                <li><a href="https://edunavoiy.uz/normativ-hujjatlar/o039z-kuchini-yoqotgan-hujjatlar/"><span>O&#039;z kuchini yo‘qotgan hujjatlar</span>
                                </a>

                                </li>
                            </ul>
                        </li>
                        <li><a href="https://edunavoiy.uz/korrupsiyaga-qarshi-kurashish/"><span>Korrupsiyaga qarshi kurashish  </span>
                        </a>

                        </li>
                        <li><a href="https://edunavoiy.uz/ochiq-malumotlar/"><span>Ochiq ma`lumotlar</span> </a>

                        </li>
                        <li class="dropdown"><a href="/matbuot-xizmati/"><span>Matbuot xizmati</span> </a>
                            <ul class="dropdown-menu">
                                <li><a href="/matbuot-xizmati/yangiliklar/"><span>Yangiliklar</span> </a>

                                </li>
                                <li><a href="/matbuot-xizmati/elon-va-tadbirlar/"><span>E&#039;lon va tadbirlar</span>
                                </a>

                                </li>
                                <li><a href="https://edunavoiy.uz/matbuot-xizmati/mediateka/"><span>Mediateka</span>
                                </a>

                                </li>
                            </ul>
                        </li>
                        <li><a href="https://edunavoiy.uz/bog039lanish/"><span>Bog&#039;lanish</span> </a>

                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="clearfix"></div>
<div class="left-img">
    <img src="https://edunavoiy.uz/templates/Default/images/" alt=""/>
</div>
<div class="right-img">
    <img src="https://edunavoiy.uz/templates/Default/images/" alt=""/>
</div>

{% block content %}
{% endblock content %}

<div class="fixed-block">
                    <a href="/murojaatlar/" class="feed-button" style="background: url(/static/images/human-feedback-uz.png);"> </a>
                </div>

<div id="footer-top">
    <div class="container-user">
        <div class="">
            <div class="footer-top-block">
                <div class="footer-top-item">
                    <div class="calendar">
                        <div id="calendar-layer">

                            <div class="flatpickr-month">
                                <a class="monthlink" onclick="doCalendar('09','2024','right'); return false;"
                                   href="https://edunavoiy.uz/2024/09/" title="Предыдущий месяц"><span
                                        class="flatpickr-prev-month" style="display: block;"><i
                                        class="fa fa-chevron-left" aria-hidden="true"></i></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="flatpickr-current-month">
	        <span class="cur-month">Oktyabr</span>
	    </span>
                                &nbsp;&nbsp;&nbsp;&nbsp;<a class="monthlink"
                                                           onclick="doCalendar('11','2024','left'); return false;"
                                                           href="https://edunavoiy.uz/2024/11/" title="Следующий месяц"><span
                                    class="flatpickr-next-month" style="display: block;"><i class="fa fa-chevron-right"
                                                                                            aria-hidden="true"></i></span></a>
                            </div>
                            <table id="calendar" class="calendar">
                                <th class="workday">Du</th>
                                <th class="workday">Se</th>
                                <th class="workday">Ch</th>
                                <th class="workday">Pa</th>
                                <th class="workday">Ju</th>
                                <th class="weekday">Sh</th>
                                <th class="weekday">Ya</th>
                                </tr>
                                <tr>
                                    <td colspan="1">&nbsp;</td>
                                    <td class="day">1</td>
                                    <td class="day">2</td>
                                    <td class="day">3</td>
                                    <td class="day-active-v day-current"><a class="day-active-v"
                                                                            href="2024/10/04//"
                                                                            title="Все публикации за 04 Oktyabr 2024">4</a>
                                    </td>
                                    <td class="weekday">5</td>
                                    <td class="weekday">6</td>
                                </tr>
                                <tr>
                                    <td class="day">7</td>
                                    <td class="day">8</td>
                                    <td class="day">9</td>
                                    <td class="day">10</td>
                                    <td class="day">11</td>
                                    <td class="weekday">12</td>
                                    <td class="weekday">13</td>
                                </tr>
                                <tr>
                                    <td class="day">14</td>
                                    <td class="day">15</td>
                                    <td class="day">16</td>
                                    <td class="day">17</td>
                                    <td class="day">18</td>
                                    <td class="weekday">19</td>
                                    <td class="weekday">20</td>
                                </tr>
                                <tr>
                                    <td class="day">21</td>
                                    <td class="day">22</td>
                                    <td class="day">23</td>
                                    <td class="day">24</td>
                                    <td class="day">25</td>
                                    <td class="weekday">26</td>
                                    <td class="weekday">27</td>
                                </tr>
                                <tr>
                                    <td class="day">28</td>
                                    <td class="day">29</td>
                                    <td class="day">30</td>
                                    <td class="day">31</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="footer-top-item">
                    <div class="title-block">
                        <h1>Obuna bo'lish</h1>
                    </div>
                    <div class="subscription">
                        <div class="advert-item item">
                            <p>E-mail manzilingizni kiritgan holda yangiliklar va maslahatlarni to‘g‘ridan-to‘g‘ri
                                elektron pochtangiz orqali qabul qilib oling</p>
                        </div>
                        <form action="/#" method="post" accept-charset="utf-8">
                            {% csrf_token %}
                            <div style="display: none;">
                                <input type="hidden" name="csrf_test_name" value="2edbb6bf4a46311219b53223b3eb8450"/>
                            </div>
                            <input type="email" placeholder="E-mail pochtangizni kiriting" name="subscribe"
                                   required="required"/>
                            <button type="submit" class="btn subscribe-btn">Obuna bo'lish</button>
                        </form>
                    </div>
                </div>
                <div class="footer-top-item">
                    <div class="title-block">
                        <h1>E'lonlar</h1>
                    </div>
                    <div id="owl-advert" class="owl-carousel owl-theme">
                        <div class="advert-item item">
                            <a href="matbuot-xizmati/e039lon-va-tadbirlar/208-dual-talim-jarayonlari.html"
                               target="_blank">
                                <h4>Dual ta’lim jarayonlari</h4>
                            </a>
                        </div>
                        <div class="advert-item item">
                            <a href="matbuot-xizmati/e039lon-va-tadbirlar/207-1-oktabr-oqituvchi-va-murabbiylar-kuni.html"
                               target="_blank">
                                <h4>1-oktabr “O‘qituvchi va murabbiylar kuni”</h4>
                            </a>
                        </div>
                        <div class="advert-item item">
                            <a href="matbuot-xizmati/e039lon-va-tadbirlar/206-professional-talim-pedagoglari-attestacijasi-2024.html"
                               target="_blank">
                                <h4>Профессионал таълим педагоглари аттестацияси-2024</h4>
                            </a>
                        </div>
                        <div class="advert-item item">
                            <a href="matbuot-xizmati/e039lon-va-tadbirlar/205-mirzo-ulugbek-vorislari-respublika-tanlovi.html"
                               target="_blank">
                                <h4>“Mirzo Ulugʻbek vorislari” Respublika tanlovi</h4>
                            </a>
                        </div>
                        <div class="advert-item item">
                            <a href="matbuot-xizmati/e039lon-va-tadbirlar/204-talabalar-festivali.html" target="_blank">
                                <h4>“Talabalar festivali”</h4>
                            </a>
                        </div>
                        <div class="advert-item item">
                            <a href="boshqarma-haqida/erishilgan-yutuqlar/203-barkamol-avlod-2023-sport-musobaqasida-muvoffaqiyatli-birinchi-qadam.html"
                               target="_blank">
                                <h4>BARKAMOL AVLOD-2023 SPORT MUSOBAQASIDA MUVOFFAQIYATLI BIRINCHI QADAM.</h4>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <hr/>
        <div class="links-main">
            <div class="title-block">
                <h1>Foydali havolalar</h1>
            </div>
            <div class="links">
                <div id="owl-links" class="owl-carousel owl-theme">

                    <div class="item">
                        <div class="links-item">
                            <a href="http://www.gov.uz/uz" target="_blank">
                                <div class="links-img">
                                    <img src="/static/images/links/my_gov.png" width="40" height="40"/>
                                </div>
                                <h3>O‘zbekiston Respublikasi hukumat portali</h3>
                                <p>http://www.gov.uz/uz</p>
                            </a>
                        </div>
                        <div class="links-item">
                            <a href="https://kommunal.uz/uz" target="_blank">
                                <div class="links-img">
                                    <img src="/static/images/links/logo_mjko.svg" width="40" height="40"/>
                                </div>
                                <h3>O‘zbekiston Respublikasi uy - joy kommunal xizmat ko‘rsatish vazirligi</h3>
                                <p>https://kommunal.uz/uz</p>
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="links-item">
                            <a href="https://edunavoiy.uz/uz/url/file/links/soliq.uz/uz.html" target="_blank">
                                <div class="links-img">
                                    <img src="/static/images/links/soliq.svg" width="40" height="40"/>
                                </div>
                                <h3>O‘zbekiston Respublikasi Davlat soliq qo‘mitasi</h3>
                                <p>http://soliq.uz/uz</p>
                            </a>
                        </div>
                        <div class="links-item">
                            <a href="http://openinfo.uz/" target="_blank">
                                <div class="links-img">
                                    <img src="/static/images/links/openinfo.png" width="40" height="40"/>
                                </div>
                                <h3>Korporativ axborot yagona portali</h3>
                                <p>http://openinfo.uz</p>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="links-item">
                            <a href="http://lex.uz/" target="_blank">
                                <div class="links-img">
                                    <img src="/static/images/links/lex.png"/>
                                </div>
                                <h3>O‘zbekiston Respublikasi Qonun hujjatlari ma’lumotlari miliiy bazasi</h3>
                                <p>http://lex.uz</p>
                            </a>
                        </div>

                        <div class="links-item">
                            <a href="http://stat.uz/" target="_blank">
                                <div class="links-img">
                                    <img src="/static/images/links/gerb.png" width="40" height="40"/>
                                </div>
                                <h3>O‘zbekiston Respublikasi Davlat Statistika Qo‘mitasi</h3>
                                <p>http://stat.uz</p>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="links-item">
                            <a href="https://navoiy.uz/" target="_blank">
                                <div class="links-img">
                                    <img src="/static/images/links/gerb.png" width="40" height="40"/>
                                </div>
                                <h3>Navoiy viloyati hokimligi</h3>
                                <p>https://navoiy.uz</p>
                            </a>
                        </div>

                        <div class="links-item">
                            <a href="http://stat.uz/" target="_blank">
                                <div class="links-img">
                                    <img src="/static/images/links/gerb.png" width="40" height="40"/>
                                </div>
                                <h3>Navoiy viloyati Sog'liqni saqlash boshqarmasi</h3>
                                <p>http://xvssb.uz</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="footer">
    <div class="container-user">
        <div class="">
            <div class="footer-main">
                <div class="copyright">
                    <img src="/static/uploads/logo.png" width="80 "
                         style="width: 130px;background: #fff;border-radius: 10px;float: left;"/>

                    <div class="copyright-text">
                        <h3>Navoiy viloyat Oliy ta’lim, fan va innovatsiyalar boshqarmasi</h3>
                        <div class="copy">
                            2023 © Barcha huquqlar himoyalangan.<br/>
                        </div>
                    </div>
                </div>
                <div class="footer-right">
                    <div class="footer-info-top">
                        <div class="phone">
                            <i class="fa fa-facebook" aria-hidden="true"></i>

                            <p>
                                <a href="/#" style="padding-left: 0;">Facebook</a>
                            </p>
                        </div>
                        <div class="email">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <a href="/#">Instagram</a>
                        </div>
                        <div class="link">
                            <i class="fa fa-telegram" aria-hidden="true"></i>
                            <a href="/#">Telegram</a>
                        </div>
                        <div class="link">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                            <a href="/#">You Tube</a>
                        </div>
                    </div>
                    <div class="footer-info-bottom">
                        <div class="address">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <p>Navoiy viloyat Urganch shahar P.Mahmud ko‘chasi 162-A-uy</p>
                        </div>

                        <div class="site-info-footer">
                            <ul>
                                <li>
                                    Saytning so'nggi yangilangan sanasi:<br/>
                                    04-окт.2024-yil Soat: 10:42:33

                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer-info-bottom-2">
                        <div class="site-error">
                            <p>Matnda xatolikni ko'rdingizmi?</p>
                            <p>Sichqoncha bilan belkgilang va Ctrl + Enter tugmalarini baravar bosing</p>
                        </div>
                        <div class="dev"><small>Sayt yaratuvchisi: <a href="https://xumoyunxurmatullayev.netlify.app/">Lektor™</a></small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<span style="" id="gs_tooltip_title">
            <span class="the-tooltip top left dark-midnight-blue"><span class="tooltip_inner">Белгиланган матнни тинглаш учун қуйидаги тугмани босинг</span></span>
        </span>
<span style="position: absolute; margin-top: -50000px;" id="gs_tooltip">
            <span class="the-tooltip bottom left dark-midnight-blue">
                <span class="tooltip_inner powered_by_3 powered_by">Powered by <a
                        href="http://2glux.com/projects/gspeech" target="_top" class="backlink_a">GSpeech</a></span>
            </span>
        </span>
<div id="sound_container" class="sound_div sound_div_basic size_1 speaker_32" title="" style="">
    <div id="sound_text"></div>
</div>
<div id="sound_audio"></div>

<!-- Updated Static JavaScript Files -->
<script src="{% static 'js/gs.js' %}"></script>
<script src="{% static 'js/jquery-cookie.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.sliderPro.min.js' %}"></script>
<script src="{% static 'js/jquery.isotope.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'js/scrollreveal.min.js' %}"></script>
<script src="{% static 'js/special.js' %}"></script>
<script src="{% static 'js/customb3e8.js' %}"></script>
<script src="{% static 'js/theme.init.js' %}"></script>
<script src="{% static 'js/confirmDate.js' %}"></script>
<script src="{% static 'js/weekSelect.js' %}"></script>

</body>
</html>